@use 'variables' as v;
.row {
    margin-left: auto;
    margin-right: auto;
    max-width: v.$full;
    width: 100%;
    position: relative;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.col {
    float: left;
    padding-left: v.$baseGap;
    padding-right: v.$baseGap;
    max-width: 100%;
    width: 100%;
    flex: 0 0 auto;
    flex-grow: 1;
    flex-basis: 100%;
    box-sizing: border-box;
}

.default-1 {
    max-width: 8.333%;
    flex-basis: 8.333%
}
.default-2 {
    max-width: 16.666%;
    flex-basis: 16.666%
}
.default-3 {
    max-width: 25%;
    flex-basis: 25%
}
.default-4 {
    max-width: 33.333%;
    flex-basis: 33.333%
}
.default-5{
    max-width: 41.666%;
    flex-basis: 41.666%
}
.default-6 {
    max-width: 50%;
    flex-basis: 50%
}
.default-7 {
    max-width: 58.333%;
    flex-basis: 58.333%
}
.default-8 {
    max-width: 66.666%;
    flex-basis: 66.666%
}
.default-9 {
    max-width: 75%;
    flex-basis: 75%
}
.default-10 {
    max-width: 83.333%;
    flex-basis: 83.333%
}
.default-11 {
    max-width: 91.666%;
    flex-basis: 91.666%
}
.default-12{
    max-width: 100%;
    flex-basis: 100%
}

@media (min-width: v.$break) {
    .break-1 {
        max-width: 8.333%;
        flex-basis: 8.333%
    }
    .break-2 {
        max-width: 16.666%;
        flex-basis: 16.666%
    }
    .break-3 {
        max-width: 25%;
        flex-basis: 25%
    }
    .break-4 {
        max-width: 33.333%;
        flex-basis: 33.333%
    }
    .break-5{
        max-width: 41.666%;
        flex-basis: 41.666%
    }
    .break-6 {
        max-width: 50%;
        flex-basis: 50%
    }
    .break-7 {
        max-width: 58.333%;
        flex-basis: 58.333%
    }
    .break-8 {
        max-width: 66.666%;
        flex-basis: 66.666%
    }
    .break-9 {
        max-width: 75%;
        flex-basis: 75%
    }
    .break-10 {
        max-width: 83.333%;
        flex-basis: 83.333%
    }
    .break-11 {
        max-width: 91.666%;
        flex-basis: 91.666%
    }
    .break-12{
        max-width: 100%;
        flex-basis: 100%
    }
}
