// COLORS /////////////////////
//////////////////////////////
$primary: yellow;
$dark: black;
$light: white;

// SPACING ////////////////////
//////////////////////////////
$baseGap: 24px;
$largeGap: 32px;

// FONTS //////////////////////
//////////////////////////////
$headlineFont: '';
$textFont: '';

// BREAKPOINTS ////////////////
//////////////////////////////
$break: 1024px;
$full: 1440px;

// ANIMATION //////////////////
//////////////////////////////
$animation: .1s ease-in-out;
$slowAnimation: .3s ease-in-out;

// MISC ///////////////////////
//////////////////////////////
