@use 'variables' as v;
* {
  scroll-behavior: smooth;
  margin: 0;
  font-family: sans-serif;
  html {
    overflow-x: hidden;
    background-color: v.$dark;
    color: v.$light;
    min-width: 100%;
    min-height: 100%;
  }

  a {
    color: v.$light;
    text-decoration: none;
    font-weight: 600;
    transition: .1s ease-in-out;
    &:active, &:hover {
      color: v.$primary;
    }
  }

  p {
    i {
      margin: calc(v.$baseGap/2) 0 0 calc(v.$baseGap/2);
      display: block;
      color: rgba(v.$light, .75);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    span {
      display: block;
      font-size: 75%;
      font-weight: 400;
      color: rgba(v.$light, .75);
    }
    margin-bottom: v.$baseGap;
  }
  h1 {font-size: 2rem;}
  h2 {font-size: 1.75rem;}
  h3 {font-size: 1.5rem;}
  h4 {font-size: 1.25rem;}
  h5 {font-size: 1.25rem;}
  h6 {font-size: 1.25rem;}
}
