// colors
//===//
$primary: #F2BE22;
$secondary: #d6a614;
$dark: #2D2D2D;
$darker: #262626;
$light: #F2F2F2;
$alert: #ff5816;
//===//

// spacing
//===//
$baseGap: 24px;
$largeGap: 32px;
//===//

// fonts
//===//
$headlineFont: '';
$textFont: '';
//===//

// breakpoints
//===//
$break: 1024px;
$full: 1440px;
//===//

// animations
//===//
$animation: .1s ease-in-out;
$slowAnimation: .3s ease-in-out;
//===//

// misc
//===//

//===//